<div>
    <h3>Add new expense</h3>


<form action="/add_expense" method="POST" class="box">
     <div class="col-auto">
        <label for="expense_type" class="form-label">Expense Type</label>
        <input name="expense_type" required type="text" class="form-control" pattern="^[a-z0-9._%+-]{2, 50}$" placeholder="Expense Type">
      </div>

      <div class="col-auto">
        <label for="expense_type" class="form-label">Amount</label>
        <input name="amount" required type="text" class="form-control"  placeholder="Amount">
      </div>

      <div class="col-auto">
        <label for="expense_type" class="form-label">Description</label>
        <input name="description" type="text" class="form-control" pattern="^[a-z0-9._%+-]{2, 50}$" placeholder="Description (optional)">
      </div>

      <input type="hidden" name="csrf_token" value = "{{ csrf_token() }}" />

      <br/>
      <div class="col-auto">
        <button type="submit" class="btn btn-primary mb-3">Submit</button>
      </div>



</form>

</div>