{% extends 'layout.html' %}
{% block content %}

 {% include "app_menu.html" %}
<div class="container">

    <div class="row">
        <h5>Privacy Policy</h1>
    </div>
    <div>

        This privacy policy explains how Breaking Bank project handles your information. 
        Breaking Bank may collect basic details like your name, email, or how you use the app while testing it. 
        This project is for a Year 12 software assignment, so any data collected is only used 
        for learning purposes and not for business or profit. 
        Please avoid entering any personal or sensitive information into the app.

    </div>


    <div class="top-space">
         By using the app, you agree to this policy.
    </div>

</div>
{% endblock %}