
{% extends 'layout.html' %}
{% block content %}

 {% include "app_menu.html" %}

<div class="container">
   
    <div class="row">

        <div>
            <h3>Summary for goal: {{ goal_summary.get_goal().get_goal_name() }}</h3>
        </div>

        <div>
            Goal target: ${{ goal_summary.get_goal().get_amount()  }}
        </div>
        <div>
            Current total: ${{ goal_summary.get_total() }}
        </div>

    </div>

    {% if data %}

    <div class="row">
        <div class="col-sm">
            <h4>Income and Expenses Over Time</h4>
            <canvas id="myChart" ></canvas>
            <div class="mt-5 card"> Insight: {{ tip }} </div>
        </div>

       
        <div class="col-sm">
            <h4>Expenses by type</h4>
            <canvas id="myChart2" class="col-sm"></canvas>
        </div>
    </div>

    {% else %}

    <div class="row">
        <div class="col-sm">
            <p>No transactions found for this goal. <a href="/expense_form.html">Add a new transaction</a> to get started!</p>
        </div>
    </div>

    {% endif %}

    
       
</div>

<script nonce="{{nonce}}">
    document.addEventListener('DOMContentLoaded', function () {

        labels = {{ labels | tojson }};
        data = {{ data | tojson }};
        
        const ctx = document.getElementById('myChart').getContext('2d');
        const myChart = new Chart(ctx, {
            type: 'line', // Chart type: 'bar', 'line', 'pie', etc.
            data: {
                labels: labels,
                datasets: [{
                    label: 'Transactions over time',
                    data: data
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

        aggregation_labels = {{ aggregation_labels | tojson }};
        aggregation_data = {{ aggregation_data | tojson }};
        
        const ctx2 = document.getElementById('myChart2').getContext('2d');
        const myChart2 = new Chart(ctx2, {
            type: 'pie', // Chart type: 'bar', 'line', 'pie', etc.
            data: {
                labels: aggregation_labels,
                datasets: [{
                    label: 'Expenses by category',
                    data: aggregation_data
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });


});

    
</script>

{% endblock %}